@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.titulo{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.titulo h2{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #1F1717;
    z-index: 1;
}

.titulo p{
    -webkit-text-stroke: 1px #ffffff50;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: transparent;
    position: absolute;
    z-index: 0;
}

@media (min-width: 390px) and (max-width: 767px) {
    .titulo h2{
        font-size: 35px;
    }
    
    .titulo p{
        font-size: 60px;
    }
}

@media (max-width: 389px){
    .titulo h2{
        font-size: 26px;
    }
    
    .titulo p{
        font-size: 45px;
    }
}